<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div id="app" class="container">
        <div class="row mt-3">
            <div class="col">
                <h1>SHOPPING LIST</h1>
            </div>
            <div class="col">
                <button v-if="!editMode" @click="editMode = true" class="btn btn-primary float-right">Edit</button>
                <button v-if="editMode" @click="editMode = false" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div v-if="editMode">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <input v-model="newItem" @keyup.enter="addItem" type="text" class="form-control" placeholder="Add an item">
                        <div class="input-group-append">
                            <button @click="addItem" :disabled="isNewItemEmpty" class="btn btn-primary" type="button">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li v-for="item in items" class="list-group-item"> {{ item }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                editMode: false,
                newItem: '',
                items: [
                    'Bread',
                    'Milk',
                    'Eggs',
                    'Onions',
                ]
            },
            computed: {
                isNewItemEmpty: function() {
                    return this.newItem.length === 0;
                }
            },
            methods: {
                addItem: function() {
                    if (this.isNewItemEmpty) return;
                    this.items.push(this.newItem);
                    this.newItem = '';
                }
            }
        })
    </script>
</body>

</html>